.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.list li a{
    display: flex;
    height: 22rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}

.image{
    object-fit: cover;
    height: 14rem;
}

.content{
    margin-top: .3rem;
    padding: .5rem 1rem;
    position: relative;
    height: 7rem;
}

.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not{
    color: gray;
}

.star{
    margin: .5rem 0;
}

.product_item_footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.origin{
    flex: 9;
}

.cook_time{
    font-size: .9rem;
    flex: 3;
    text-align: right;
}

.price{
    position: absolute;
    bottom: 0;
    left: .9rem;
    background-color: white;
    padding: .3rem;
    color: #414141;
    margin-top: .7rem;
    font-size: 1rem;
}